<% open('ngrok.log') do |f| %>
  <% f.each_line.select { |line| line.include?('url=') }.each do |line| %>
    <% tcp = /tcp:\/\/.+?\s/ %>
    <% https = /https:\/\/.+?\s/ %>

    <% if line.match?(tcp) %>
      Server available at: <%= line.match(tcp)[0] %><br />
    <% elsif line.match?(https) %>
      Dynmap available at: <%= line.match(https)[0] %><br />
    <% end %>
  <% end %>
<% end %>
